.pic {
    display: block;
    margin: auto;
    max-height: 400px;
    max-width: 400px;
}

section {
    color: blue;
}

body {
    background-color: yellow;
}

header{
    font-size: 3cm;
    text-align: center;
    color: red;
}